@model RentABike.ViewModels.BicycleFormViewModel
@{
  
    ViewBag.Title = "BicycleEditForm";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        .form-control {
            color: black;
        }
        h2 {
            font-style: normal;
            font-weight: 500;
        }
    </style>
}

<div class="container">
    <div class="row">

        @using (Html.BeginForm("SaveEdited", "Bicycles"))
        {
        <div class="col-lg-4 col-md-4">
            <h2>Bicycle Details</h2>
            <br />
            <div>
                @Html.ActionLink("Back", "Index", "Bicycles", null, new { @class = "btn btn-primary" })
            </div>
            <br />
            <div id="firstDiv" class="form-group">
                @Html.LabelFor(m => m.Bicycle.Name, new { id = "fontSize" })
                @Html.TextBoxFor(m => m.Bicycle.Name, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Bicycle.Name)
            </div>
            <div id="firstDiv" class="form-group">
                @Html.LabelFor(m => m.Bicycle.PricePerHour, new { id = "fontSize" })
                @Html.TextBoxFor(m => m.Bicycle.PricePerHour, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Bicycle.PricePerHour)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Bicycle.WheelsSize, new { id = "fontSize" })
                @Html.TextBoxFor(m => m.Bicycle.WheelsSize, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Bicycle.WheelsSize)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Bicycle.BicycleTypeId, new { id = "fontSize" })
                @Html.DropDownListFor(m => m.Bicycle.BicycleTypeId, new SelectList(Model.BicycleTypes, "Id", "Name"), "Select Bicycle Type", new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Bicycle.BicycleTypeId)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Bicycle.NumberInStock, new { id = "fontSize" })
                @Html.TextBoxFor(m => m.Bicycle.NumberInStock, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.Bicycle.NumberInStock)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Bicycle.Description, new { id = "fontSize" })
                @Html.TextAreaFor(m => m.Bicycle.Description, new { @class = "form-control", @readonly = "readonly", style = "border: none;", rows = "7" })
                @Html.ValidationMessageFor(m => m.Bicycle.Description)
            </div>
            @Html.HiddenFor(m => m.Bicycle.Id)
            @Html.AntiForgeryToken()
        </div>
            <div id="secondDiv" class="col-lg-8 col-md-8" style="padding-top: 80px">
                <img src="@Model.Bicycle.ImageUrl" width="1200" alt="@Model.Bicycle.Name" class="img-responsive" />
            </div>
        }

    </div>

</div>


